body {
    
    background-image: url("../images/lake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} 
.my_container {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    text-align: center;
    background-color: blanchedalmond;
    margin-top: 30px;
    border: 3px solid rgb(68, 55, 38);
    border-style: double;
    border-radius: 25px;
    overflow: hidden;
    
}

.img_yes {
    
    width: 200px;
    height: 250px;
    display: none;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
   

}
.img_no {
    width: 250px;
    height: 250px;
    display: none;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
   


}
/* it styled my button even though I had (created) it only in javascript file */
button {
    padding: 10px;   
}

